.kotak{
	width: 400px;
	margin: auto;
	margin-top: 200px;
	border: 1px solid #000001;
	min-height: 200px;
	background-color: #f08080;
}
.kepala h2{
	font-family: arial;
	margin-top: -1px;
	padding: 11px;
	background-color: #f08080;
	color: #ffdead;
	text-decoration: none;
}
table th{
	width: 100px;
	text-align: right;
	font-family: arial;

}
input[type="text"]{
	width: 100%;
	height: 20px; 
	padding-left: 20px; 
}
input[type="password"]{
	width: 100%;
	height: 20px; 
	padding-left: 20px; 
}
input[type="submit"]{
	margin-left: 20px;
	height: 30px;
	width: 75px;
	color: #ffffff;
	font-style: bold;
	background-color: #008080;
}
input[type="reset"]{
	height: 30px;
	width: 75px;
	color: #ffffff;
	background-color: #047c1a;
}
table{
	position: relative;
}
img.id{
	position: absolute;
	top: 5px;
}
img.pass{
	position: absolute;
	top: 29px;
}
